<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Author: OrbsTheme, Category: Transport, Logistics, Multipurpose, HTML, SASS, Bootstrap" />
        
        <!-- title -->
        <title>Fairy - Transport & Logistics HTML Template</title>
        
        <!-- favicon -->
        <link rel="icon" href="assets/images/favicon.png" type="image/png"/>

        <!-- bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
		<!-- box-icon CSS -->
        <link rel="stylesheet" href="../static/css/boxicons.min.css">
        <!-- flat-icon CSS -->
        <link rel="stylesheet" href="../static/css/flaticon.css">
        <!-- animate CSS -->
        <link rel="stylesheet" href="../static/css/animate.min.css" />
        <!-- magnific popup CSS -->
        <link rel="stylesheet" href="../static/css/magnific-popup.min.css" />
        <!-- owl-carousel CSS -->
		<link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
        <!-- main style CSS -->
        <link rel="stylesheet" href="../static/css/style.css" />
        <!-- responsive CSS -->
        <link rel="stylesheet" href="../static/css/responsive.css" />
    </head>
    <body>
        <!-- start preloader area -->
        <div id="preloader">
            <span class="bounce1"></span>
            <span class="bounce2"></span>
            <span class="bounce3"></span>
        </div>
        <!-- end preloader area -->
        
        <!-- start coming soon section -->
        <section class="coming-soon-section bg-primary">
            <div class="container">
                <div class="coming-soon-box">
                    <!-- Title Box -->
                    <div class="title-box">
                        <h2 class="title">coming soon</h2>
                        <p class="text">Get Ready! Something Really Cool Is Coming</p>
                    </div>
                    <div id="timer" class="flex-wrap d-flex justify-content-center">
                        <div id="days" class="count align-items-center flex-column d-flex justify-content-center">
                            <div class="h1"></div>
                            <span>Days</span>
                        </div>
                        <div id="hours" class="count align-items-center flex-column d-flex justify-content-center">
                            <div class="h1"></div>
                            <span>Hours</span>
                        </div>
                        <div id="minutes" class="count align-items-center flex-column d-flex justify-content-center">
                            <div class="h1"></div>
                            <span>Minutes</span>
                        </div>
                        <div id="seconds" class="count align-items-center flex-column d-flex justify-content-center">
                            <div class="h1"></div>
                            <span>Seconds</span>
                        </div>
                    </div>
                    <form class="newsletter-form" id="newsletterForm">
                        <div class="input-group">
                            <input class="form-control" placeholder="Enter Your Email Address" type="text" name="EMAIL" required=""
                            autocomplete="off">
                            <button class="btn primary-btn" type="submit">
                                Subscribe
                            </button>
                        </div>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form><!-- end newsletter-form -->
                </div>
            </div>
        </section>
        <!-- end coming soon section -->

        <!-- jquery JS -->
        <script src="../static/js/jquery.min.js"></script>
        <!-- popper JS -->
        <script src="../static/js/popper.min.js"></script>
        <!-- bootstrap JS -->
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- waypoints JS -->
        <script src="../static/js/jquery.waypoints.js"></script>
        <!-- counter JS -->
        <script src="../static/js/jquery.counterup.min.js"></script>
        <!-- magnific popup JS -->
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <!-- mixitup JS -->
        <script src="../static/js/jquery.mixitup.min.js"></script>
        <!-- owl carousel JS -->
        <script src="../static/js/owl.carousel.min.js"></script>
        <!-- lazysizes JS -->
        <script src="../static/js/lazysizes.min.js"></script>
        <!-- form validator -->
        <script src="../static/js/form-validator.min.js"></script>
        <!-- contact form JS -->
        <script src="../static/js/contact-form-script.js"></script>
        <!-- ajax chimp JS -->
        <script src="../static/js/jquery.ajaxchimp.min.js"></script>
        <!-- script JS -->
        <script src="../static/js/script.js"></script>
    </body>
</html>