<head>
    <meta charset="UTF-8">
    <title>司机个人中心</title>
    <link href="../static/css/layui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style2.css">
</head>


<!--导航栏-->
<ul class="layui-nav layui-bg-blue" lay-filter="">
    <li class="layui-nav-item" onclick="LetSheet1Visible()">司机个人中心</li>
</ul>


<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">任务管理</li>
        <li>车辆报修</li>
        <li>我的信息</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <div id="sheet1">

                <div class="app-container">

                    <div class="box">

                        <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>

                            <el-table-column prop="car_id" align="center" label="车辆编号"></el-table-column>

                            <el-table-column prop="send_addr" label="出发地" align="center"></el-table-column>
                            <el-table-column prop="receive_addr" label="目的地" align="center"></el-table-column>

                            <el-table-column label="操作" align="center">

                                <template slot-scope="scope">

                                    <el-button type="primary" size="mini" @click="handleTransport(scope.row)">出发
                                    </el-button>

                                </template>

                            </el-table-column>

                        </el-table>


                    </div>

                </div>

            </div>
        </div>
        <div class="layui-tab-item">
            <div id="sheet2">

                <div class="app-container">

                    <div class="box">
                        <!-- 新增标签弹层 -->
                        <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                 label-width="100px">

                            <el-row>

                                <el-col :span="12">

                                    <el-form-item label="汽车编号" prop="car_id">

                                        <el-input v-model="formData.car_id"/>

                                    </el-form-item>

                                </el-col>

                                <el-col :span="12">

                                    <el-form-item label="预计花销" prop="cost">

                                        <el-input v-model="formData.cost"/>

                                    </el-form-item>

                                </el-col>

                            </el-row>

                            <el-row>

                                <el-col :span="24">

                                    <el-form-item label="描述">

                                        <el-input v-model="formData.description" prop="description"></el-input>

                                    </el-form-item>

                                </el-col>

                            </el-row>

                        </el-form>

                        <div slot="footer" class="dialog-footer">

                            <el-button>取消</el-button>

                            <el-button type="primary" @click="handleAdd()">确定</el-button>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="layui-tab-item">3</div>
    </div>

</div>
</div>


<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>

<script src="../static/js/vue.js"></script>

<script type="text/javascript" src="../static/js/layui.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.serializeObject.js"></script>

<script src="../static/js/index.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>

<script>
    var vue1 = new Vue({

        el: '#sheet1',
        data: {
            pagination: {},
            dataList: [],//当前页要展示的列表数据
            employee_id: 0
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.employee_id = document.cookie

            var index = this.employee_id.indexOf("=");
            this.employee_id = this.employee_id.substring(index + 1)
            console.log(this.employee_id)
            this.getAll();
        },

        methods: {
            //列表
            getAll() {
                axios.get("/cars").then((res) => {
                        this.dataList = res.data.object;
                    }
                );
            },
            //发车
            handleTransport(row) {
                axios.put("/cars/doTransport/" + row.car_id + "/" + row.send_addr + "/" + row.receive_addr + "/" + this.employee_id).then((res) => {
                    if (res.data.code == 20031) {
                        this.$message.success("已发车！");
                        this.getAll();
                    } else {
                        this.$message.error(res.data.msg);
                    }

                })
            }
        }
    })
</script>

<script>
    var vue2 = new Vue({

        el: '#sheet2',
        data: {
            pagination: {},
            formData: {},//表单数据
            rules: {//校验规则
                car_id: [{required: true, message: '汽车编号为必填项', trigger: 'blur'}],
                cost: [{required: true, message: '预计花销为必填项', trigger: 'blur'}]
            }
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {

        },

        methods: {
            //添加
            handleAdd() {
                axios.post("/cars/addRepair", this.formData).then((res) => {
                    if (res.data.code == 20011) {
                        this.$message.success("报修成功")
                    } else if (res.data.code == 20010) {
                    } else {
                        this.$message.error(res.data.msg)
                    }
                })
            }
        }
    })
</script>
</html>