<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Author: OrbsTheme, Category: Transport, Logistics, Multipurpose, HTML, SASS, Bootstrap"/>

    <!-- title -->
    <title>Fairy - Transport & Logistics HTML Template</title>

    <!-- favicon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/png"/>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <!-- box-icon CSS -->
    <link rel="stylesheet" href="../static/css/boxicons.min.css">
    <!-- flat-icon CSS -->
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css"/>
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="../static/css/magnific-popup.min.css"/>
    <!-- owl-carousel CSS -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css"/>
    <!-- main style CSS -->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <!-- responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css"/>
</head>
<body>
<!-- start preloader area -->
<div id="preloader">
    <span class="bounce1"></span>
    <span class="bounce2"></span>
    <span class="bounce3"></span>
</div>
<!-- end preloader area -->

<!-- start header area -->
<header class="header-area">
    <!-- start header top -->
    <div class="header-top">
        <div class="container">

            <div class="header-left">
                <ul class="contact-info-list">
                    <li><a href="tel:012345698721"><i class="bx bx-phone"></i>+1234678910</a></li>
                    <li><a href="../mailTo:hello@example.com"><i class="bx bx-envelope"></i>邮箱联系</a></li>
                </ul>
            </div><!-- end header-left -->
        </div>
    </div>
    <!-- end header top -->

    <!-- start main navbar area -->
    <div class="main-navbar-area sticky-header">

        <div class="mobile-navbar">
            <div class="container">
                <div class="mobile-navbar-inner">
                    <button class="mobile-menu-toggler" type="button">
                        <span></span><span></span><span></span>
                    </button>
                    <a href="index.html" class="logo">
                        <img src="../static/picture/logo1.png" alt="logo">
                    </a>
                    <div class="side-option">
                        <div class="item">
                            <a href="#searchBoxRes" class="btn-search" data-effect="mfp-zoom-in">
                                <i class='bx bx-search-alt'></i>
                            </a>
                            <div id="searchBoxRes" class="search-box mfp-with-anim mfp-hide">
                                <form class="search-form">
                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                    <button type="submit" class="btn-search">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/picture/logo1.png" alt="Logo">
                    </a>
                    <div class="mean-menu ml-auto">
                        <ul class="navbar-nav" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">主页<i></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link">登录</a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">关于</a>
                            </li>
                            <li class="nav-item">
                                <a href="pricing.html" class="nav-link">价格</a>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">联系我们</a>
                            </li>
                        </ul>
                    </div><!-- end mean-menu -->
                </nav><!-- end navbar -->
            </div><!-- container -->
        </div><!-- end main-nav -->
    </div>
    <!-- end main navbar area -->
</header>
<!-- end header area -->

<!-- start home banner area -->
<div id="home" class="home-banner-area">
    <div class="container-fluid p-0">
        <div class="home-slider owl-carousel">

            <div class="slider-item item-one">
                <div class="container">
                    <div class="banner-content">
                        <span class="sub-title">攀枝花物流公司</span>
                        <h1 class="title">
                            我们立志于做世界上最好的物流公司
                            <span></span>
                        </h1>
                        <p class="text">
                            有着非常可靠的运输服务
                        </p>
                        <div class="actions-btn">
                            <a href="about.html" class="btn primary-btn">更多详情</a>
                        </div>
                    </div>
                </div>
            </div><!-- end slider-item -->

            <div class="slider-item item-two">
                <div class="container">
                    <div class="banner-content">
                        <span class="sub-title">攀枝花物流公司</span>
                        <h1 class="title">
                            我们提供快速、可靠、方便的寄收服务。
                            <span></span>
                        </h1>
                        <p class="text">
                            选择我们是你非常正确的选择。
                        </p>
                        <div class="actions-btn">
                            <a href="about.html" class="btn primary-btn">更多详情</a>
                        </div>
                    </div>
                </div>
            </div><!-- end slider-item -->

            <div class="slider-item item-three">
                <div class="container">
                    <div class="banner-content">
                        <span class="sub-title">攀枝花物流公司</span>
                        <h1 class="title">
                            15年物流服务商
                            <span></span>
                        </h1>
                        <p class="text">
                            我们是值得姓赖的
                        </p>
                        <div class="actions-btn">
                            <a href="about.html" class="btn primary-btn">更多详情</a>
                        </div>
                    </div>
                </div>
            </div><!-- end slider-item -->

        </div><!-- end home-slider -->
    </div><!-- end container-fluid -->
</div>
<!-- end home banner area -->

<!-- start tracking area -->
<div class="tracking-order-area bg-primary" id="app">
    <div class="container">
        <div class="inner-content">
            <div class="tracking-form">
                <form id="trackingForm">
                    <div class="form-inline justify-content-between">
                        <div class="form-group">
                            <input type="text" placeholder="快递单号" id="package_id" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="电话号码" id="tel" class="form-control" input>
                        </div>
                        <el-button class="primary-btn" type="primary" onclick="jump()">查询包裹</el-button>
                    </div>
                </form>
            </div>
        </div><!-- end inner-content -->
    </div><!-- end container -->
</div>
<!-- end tracking area -->

<!--vue js-->
<script src="../static/js/vue.js"></script>
<!--axios js-->
<script src="../static/js/axios-0.18.0.js"></script>


<script>
    var package_id = document.getElementById("package_id");
    var tel = document.getElementById("tel");

    function jump() {

        window.sessionStorage.setItem("package_id", package_id.value);
        window.sessionStorage.setItem("tel",tel.value)
        window.location.href = "packages.html";
    }

</script>
<br><br><br><br><br>

<!-- start transport section -->
<section id="transport" class="transportation-section pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="content mb-30">
                    <div class="section-title">
                        <span class="sub-title">攀枝花物流公司 <span></span></span>
                        <h2 class="title">一路安全护送您的包裹</h2>
                        <p class="text">
                            非常可靠的运输服务
                        </p>
                        <a href="contact.html" target="_self" rel="noopener noreferrer" class="primary-btn">联系我们</a>
                    </div>
                </div><!-- end content -->
            </div>
            <div class="col-lg-7 order-lg-first">
                <div class="wrapper mb-30">
                    <h3 class="title">邮寄包裹</h3>
                    <div class="transportation-form">
                        <form method="post" action="addPackage">
                            <div class="row row-sm">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="sender_name" placeholder="寄件人姓名">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="sender_tel" placeholder="寄件人电话号码">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="sender_addr" placeholder="寄件人地址">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="receiver_name"
                                               placeholder="收件人姓名">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="receiver_tel"
                                               placeholder="收件人电话号码">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="receiver_addr"
                                               placeholder="收件人地址">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="weight" placeholder="重量">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>飞机</option>
                                            <option>货车</option>
                                            <option>火车</option>
                                            <option>船运</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="actions-btn">
                                <button type="submit" class="btn primary-btn w-100">提交</button>
                            </div>
                        </form>
                    </div><!-- end transportation-form -->
                </div><!-- end wrapper -->
            </div>
        </div>
    </div><!-- end container-fluid -->
</section>
<!-- end transport section -->


<!-- start service section -->
<section id="service" class="service-section ptb-100 bg-primary">
    <div class="container">
        <div class="section-title">
            <h2 class="title">优质服务 <span></span></h2>
            <p>可靠、快速、便捷、安全</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html " class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="../static/picture/storage.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">仓储业务能力</a></h3>
                        <p class="text">
                            领先的仓储服务供应商，具有15年仓储运营经验，仓储面积约400万平方米，运营近千个仓储项目，汇聚国内供应链管理、仓储规划、物流自动化等领域的专业人才共计7000余人。为客户供应链物流量身定制高标准、现代化、专业化的仓储解决方案。
                            在高科技、汽车、快消品、鞋服、医药等多行业，具备供应链入厂VMI仓储、成品总分仓、智能仓、温控仓、保税仓、TAPA仓、GSP仓、云仓、前置仓等服务经验。</p>
                        <a href="about.html " class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html" class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="../static/picture/wuliuflow.jpg ">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">物流线</a></h3>
                        <p class="text">入厂物流：提供供应商库存管理、巡回取货、 JIT/JIS、班车服务、 往返线、仓库供应产线、直送产线等服务。 </p>
                        <p class="text "> 销售物流：提供成品仓储及分拨、运输配送、网点投交、在途集并、门店调拨等服务等。</p>
                        <p class="text">售后服务物流：提供售后零部件仓储配送服务、退换货和异地换箱、废弃物回收物流等服务等。</p>
                        <a href="about.html " class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html" class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="static/picture/cash.png">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">金融保证</a></h3>
                        <p class="text">借助攀枝花集团资金与物流优势，与邮政储蓄银行、菜鸟金融、京东金融等金融机构合作，为客户及供应商提供存货质押、订单融资、保理融资等多种供应链金融解决方案。</p>
                        <a href="about.html" class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html" class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="../static/picture/clothes.jpg ">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">鞋服行业</a></h3>
                        <p class="text">
                            基于鞋服企业遍布全国的实体店及网络销售需求，结合行业季节性需求及高流动性特点，为您量身打造具有竞争力的全供应链物流解决方案，快速响应您在原材料运输、成品配送、门店调拨、退货、电子商务等方面的需求。</p>
                        <a href="about.html" class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html" class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="static/picture/food.jpg ">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">快消品行业</a></h3>
                        <p class="text">攀枝花物流专注快消品行业数十年，重点关注食品、酒水、连锁、化妆品、家居、烟草子行业。依托
                            中国邮政资源和网络优势，满足快消行业客户季节性运作需求。为您提供供应链全环节物流服务，包括：整车运输、 零担运输、仓储快递服务，并针对快消子行业
                            客户的不同的物流需求，可以为您提供恒温仓储、冷链运输等定制化物流服务，提供具有市场竞争力的物流服务。</p>
                        <a href="about.html" class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-20">
                    <div class="image">
                        <a href="about.html" class="lazy-container aspect-ratio-4-3">
                            <img class="lazyload" src="static/picture/medicine.jpg">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="about.html">医药行业</a></h3>
                        <p class="text">
                            依托攀枝花邮政全国网络，为药品制造和经销企业提供西药、中成药、医疗器械等物流服务，并可根据客户需求实现整车直送、零担快递、全环节的控温、恒温冷链物流服务，确保药品的全程时限和安全保障。</p>
                        <a href="about.html" class="btn-text">更多详情</a>
                    </div>
                </div><!-- end item-single -->
            </div>
        </div><!-- end row -->
        <div class="action-btn text-center">
            <a href="about.html" rel="noopener noreferrer" class="primary-btn">更多详情</a>
        </div>
    </div><!-- end container -->
</section>
</section>
<!-- end service section -->

<!-- start testimonials section -->
<section id="testimonials" class="testimonials-section ptb-100 bg-primary">
    <div class="container">
        <div class="section-title">
            <h2 class="title">客户评价<span></span></h2>
            <p>针对客户的多样化需求.我们推出动态的个性化物流快运服务</p>
        </div>
        <div class="testimonial-slider owl-carousel">
            <div class="slider-item">
                <div class="content">
                    <div class="client-image">
                        <div class="lazy-container">
                            <img class="lazyload" src="static/picture/zzy.jpg">
                        </div>
                    </div>
                    <h3 class="client-name">张小姐</h3>
                    <div class="review">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p class="text">
                        货物保护得很好很完整，物流速度很快
                    </p>
                    <div class="quote">
                        <i class='flaticon-quotation-mark1'></i>
                    </div>
                </div>
            </div><!-- end slider-item -->
            <div class="slider-item">
                <div class="content">
                    <div class="client-image">
                        <div class="lazy-container">
                            <img class="lazyload" src="static/picture/zrt.webp ">
                        </div>
                    </div>
                    <h3 class="client-name">王先生</h3>
                    <div class="review">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class='bx bxs-star-half'></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <p class="text">
                        偏远地区也能寄到
                    </p>
                    <div class="quote">
                        <i class='flaticon-quotation-mark1'></i>
                    </div>
                </div>
            </div><!-- end slider-item -->
            <div class="slider-item">
                <div class="content">
                    <div class="client-image">
                        <div class="lazy-container">
                            <img class="lazyload" src="static/picture/cat.jpeg"
                                 width="1000" height="800">
                        </div>
                    </div>
                    <h3 class="client-name">吴先生</h3>
                    <div class="review">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <p class="text">
                        工作没时间去寄件点，公司的上门取件服务很方便
                    </p>
                    <div class="quote">
                        <i class='flaticon-quotation-mark1'></i>
                    </div>
                </div>
            </div><!-- end slider-item -->
            <div class="slider-item">
                <div class="content">
                    <div class="client-image">
                        <div class="lazy-container">
                            <img class="lazyload" src="static/picture/hlr.jpg">
                        </div>
                    </div>
                    <h3 class="client-name">何小姐</h3>
                    <div class="review">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <p class="text">
                        独自一人在外过年，收到了家里人寄来的年货，太开心了
                    </p>
                    <div class="quote">
                        <i class='flaticon-quotation-mark1'></i>
                    </div>
                </div>
            </div><!-- end slider-item -->
        </div><!-- end owl-carousel -->
    </div><!-- end container -->

</section>
<!-- end testimonials section -->


<!-- start footer area -->
<footer class="footer-area pt-50">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="../static/picture/logo2.png" alt="Logo"/>
                            </a>
                        </div>
                        <p> 本公司立志为顾客提供用心的服务，如有任何问题或建议，欢迎您联系我们！</p>
                    </div><!-- end footer-widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12" style="text-align: center">
                    <div class="footer-widget">
                        <h3>快速导航</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="index.html">主页</a>
                            </li>
                            <li>
                                <a href="about.html">关于</a>
                            </li>
                            <li>
                                <a href="pricing.html">价格</a>
                            </li>

                        </ul>
                    </div><!-- end footer-widget -->
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12" style="text-align: center">
                    <div class="footer-widget">
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="index.html"></a>
                            </li>
                            <li>
                                <a href="about.html"></a>
                            </li>
                            <li>
                                <a href="pricing.html"></a>
                            </li>

                        </ul>
                    </div><!-- end footer-widget -->
                </div>


                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>联系信息</h3>
                        <ul class="info-list">
                            <li>
                                <i class="bx bxs-phone"></i>
                                +123456789
                                <br>
                                +987654321

                            <li>
                                <i class="bx bxs-envelope"></i>
                                邮箱联系方式</a>
                                <br>
                            </li>
                            <li>
                                <i class='bx bxs-map'></i>
                                四川成都<br> 西航港街道
                            </li>
                        </ul>
                    </div><!-- end footer-widget -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->

</footer>
<!-- end footer area -->

<!-- start go to top area -->
<div class='go-top'><i class='bx bx-upvote'></i></div>
<!-- end go to top area -->

<!-- start mobile menu -->
<div class="mobile-menu-overlay"></div>
<div class="mobile-menu">
    <div class="mobile-menu-wrapper">
        <div class="top-content">
            <h5 class="title">Menu</h5>
            <span class="mobile-menu-close">x</span>
        </div>
    </div>
</div>
<!-- end mobile menu -->

<!-- jquery JS -->
<script src="../static/js/jquery.min.js"></script>
<!-- popper JS -->
<script src="../static/js/popper.min.js"></script>
<!-- bootstrap JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- waypoints JS -->
<script src="../static/js/jquery.waypoints.js"></script>
<!-- counter JS -->
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- magnific popup JS -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- mixitup JS -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- owl carousel JS -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- lazysizes JS -->
<script src="../static/js/lazysizes.min.js"></script>
<!-- form validator -->
<script src="../static/js/form-validator.min.js"></script>
<!-- contact form JS -->
<script src="../static/js/contact-form-script.js"></script>
<!-- ajax chimp JS -->
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<!-- script JS -->
<script src="../static/js/script.js"></script>
</body>
</html>