<head>
    <meta charset="UTF-8">
    <title>经理个人中心</title>
    <link href="../static/css/layui.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style2.css">
</head>


<!--导航栏-->
<ul class="layui-nav layui-bg-blue" lay-filter="">
    <li class="layui-nav-item">经理个人中心</li>
</ul>


<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">利润</li>
        <li>员工列表</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <div id="sheet1">

                <!--todo 经理的利润部分-->
            </div>
        </div>
        <div class="layui-tab-item">
            <div id="sheet2">
                <div class="app-container">

                    <div class="box">

                        <div class="filter-container">

                            <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>

                        </div>

                        <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>

                            <el-table-column prop="employee_id" align="center" label="序号"></el-table-column>

                            <el-table-column prop="employee_name" label="姓名" align="center"></el-table-column>
                            <el-table-column prop="salary" label="薪资" align="center"></el-table-column>
                            <el-table-column prop="dept" label="职位" align="center"></el-table-column>

                            <el-table-column label="操作" align="center">

                                <template slot-scope="scope">

                                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑
                                    </el-button>
                                </template>

                            </el-table-column>

                        </el-table>

                        <!-- 编辑标签弹层 -->

                        <div class="add-form">

                            <el-dialog title="编辑员工" :visible.sync="dialogFormVisible4Edit">

                                <el-form ref="dataEditForm" :model="formData" label-position="right"
                                         label-width="100px">

                                    <el-row>

                                        <el-col :span="12">

                                            <el-form-item label="员工ID" prop="employee_id">

                                                <el-input v-model="formData.employee_id" disabled/>

                                            </el-form-item>

                                        </el-col>

                                        <el-col :span="12">

                                            <el-form-item label="员工姓名" prop="employee_name">

                                                <el-input v-model="formData.employee_name" disabled/>

                                            </el-form-item>

                                        </el-col>

                                    </el-row>

                                    <el-row>

                                        <el-col :span="24">

                                            <el-form-item label="薪资" prop="salary">

                                                <el-input v-model="formData.salary"/>

                                            </el-form-item>

                                        </el-col>
                                        <el-col :span="24">

                                            <el-form-item label="职位" prop="dept">

                                                <el-input v-model="formData.dept"/>

                                            </el-form-item>

                                        </el-col>

                                    </el-row>

                                </el-form>

                                <div slot="footer" class="dialog-footer">

                                    <el-button @click="dialogFormVisible4Edit = false">取消</el-button>

                                    <el-button type="primary" @click="handleEdit()">确定</el-button>

                                </div>

                            </el-dialog>

                        </div>

                        <!-- 新增标签弹层 -->

                        <div class="add-form">

                            <el-dialog title="新增图书" :visible.sync="dialogFormVisible">

                                <el-form ref="dataAddForm" :model="formData" label-position="right"
                                         label-width="100px">

                                    <el-row>

                                        <el-col :span="12">

                                            <el-form-item label="员工姓名" prop="employee_name">

                                                <el-input v-model="formData.employee_name"/>

                                            </el-form-item>

                                        </el-col>

                                        <el-col :span="12">

                                            <el-form-item label="薪资" prop="salary">

                                                <el-input v-model="formData.salary"/>

                                            </el-form-item>

                                        </el-col>

                                        <el-col :span="12">

                                            <el-form-item label="职位" prop="dept">

                                                <el-input v-model="formData.dept"/>

                                            </el-form-item>

                                        </el-col>

                                    </el-row>


                                </el-form>

                                <div slot="footer" class="dialog-footer">

                                    <el-button @click="dialogFormVisible = false">取消</el-button>

                                    <el-button type="primary" @click="handleAdd()">确定</el-button>

                                </div>

                            </el-dialog>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>

<script src="../static/js/vue.js"></script>

<script type="text/javascript" src="../static/js/layui.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.serializeObject.js"></script>
<script src="../static/js/index.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({

        el: '#sheet2',
        data: {
            pagination: {},
            dataList: [],//当前页要展示的列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            //列表
            getAll() {

                axios.get("/employee").then((res) => {
                        this.dataList = res.data.object;
                    }
                );

            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {
                axios.post("/employee", this.formData).then((res) => {
                    if (res.data.code == 20011) {
                        this.dialogFormVisible = false;

                        this.$message.success("添加成功")
                    } else if (res.data.code == 20010) {

                    } else {
                        this.$message.error(res.data.msg)
                    }

                }).finally(() => {
                        this.getAll();
                    }
                )
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios.get("/employee/" + row.employee_id).then((res) => {
                    if (res.data.code == 20041) {
                        this.formData = res.data.object;
                        this.dialogFormVisible4Edit = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }

                })
            },

            //编辑
            handleEdit() {
                axios.put("/employee", this.formData).then((res) => {
                    if (res.data.code == 20031) {
                        this.dialogFormVisible4Edit = false;

                        this.$message.success("修改成功")
                    } else if (res.data.code == 20030) {

                    } else {
                        this.$message.error(res.data.msg)
                    }

                }).finally(() => {
                        this.getAll();
                    }
                )
            }
        }
    })

</script>