<head>
    <meta charset="UTF-8">
    <title>经理个人中心</title>
    <link href="../static/css/layui.css" rel="stylesheet" type="text/css">
</head>


<!--导航栏-->
<ul class="layui-nav layui-bg-blue" lay-filter="">
    <li class="layui-nav-item"><a href="">利润报告</a></li>
    <li class="layui-nav-item"><a href="">包裹管理</a></li>
    <li class="layui-nav-item"><a href="">员工管理</a></li>
</ul>

<!--<script>-->
<!--    //注意：导航 依赖 element 模块，否则无法进行功能性操作-->
<!--    layui.use('element', function(){-->
<!--        var element = layui.element;-->

<!--        //…-->
<!--    });-->
<!--</script>-->

<script type="text/javascript" src="../static/js/layui.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.serializeObject.js"></script>