<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>包裹查询</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style2.css">

    <link href="../static/css/layui.css" rel="stylesheet" type="text/css">
</head>

<body class="hold-transition">

<div id="app">

    <ul class="layui-nav layui-bg-blue" lay-filter="">

        <li class="layui-nav-item"><a href="">包裹查询</a></li>
    </ul>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

                <el-input placeholder="包裹单号/电话号码" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>

                <el-button @click="getAll()" class="dalfBut">查询</el-button>


            </div>

            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>

                <el-table-column prop="package_id" label="序号" align="center"></el-table-column>
                <el-table-column prop="send_addr" label="出发地" align="center"></el-table-column>
                <el-table-column prop="receive_addr" label="目的地" align="center"></el-table-column>
                <el-table-column prop="weight" label="重量" align="center"></el-table-column>
                <el-table-column prop="car_id" label="车号" align="center"></el-table-column>
                <el-table-column prop="price" label="价格" align="center"></el-table-column>
                <el-table-column prop="status" label="状态" align="center"></el-table-column>
                <el-table-column label="操作" align="center">

                    <template slot-scope="scope">

                        <el-button type="primary" size="mini" @click="receive(scope.row)">确认收货</el-button>

                    </template>

                </el-table-column>

            </el-table>


        </div>

    </div>

</div>

</body>

<!-- 引入组件库 -->

<script src="../static/js/vue.js"></script>

<script src="../static/js/index.js"></script>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>

<script src="../static/js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({

            el: '#app',
            data: {
                pagination: {},
                dataList: [],//当前页要展示的列表数据
                formData: {},//表单数据
                rules: {//校验规则
                    type: [{required: true, message: '图书类别为必填项', trigger: 'blur'}],
                    name: [{required: true, message: '图书名称为必填项', trigger: 'blur'}]
                }
            },

            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.get();
            },

            methods: {
                //列表
                get() {
                    var package_id = window.sessionStorage.getItem("package_id").valueOf();
                    console.log(package_id);
                    axios.get("/packages/" + package_id).then((res) => {
                            this.dataList = res.data.object;
                        }
                    );
                },

                receive() {
                    //todo 包裹状态更改
                    axios.put("packages" + row.id).then((res) => {
                        $.success("已收货！");
                    })
                }

            }
        }
    )


</script>

<script type="text/javascript" src="../static/js/layui.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.serializeObject.js"></script>

</html>