<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Author: OrbsTheme, Category: Transport, Logistics, Multipurpose, HTML, SASS, Bootstrap" />

    <!-- title -->
    <title>Fairy - Transport & Logistics HTML Template</title>

    <!-- favicon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/png"/>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- box-icon CSS -->
    <link rel="stylesheet" href="../static/css/boxicons.min.css">
    <!-- flat-icon CSS -->
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" />
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="../static/css/magnific-popup.min.css" />
    <!-- owl-carousel CSS -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
    <!-- main style CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css" />
</head>
<body>
<!-- start preloader area -->
<div id="preloader">
    <span class="bounce1"></span>
    <span class="bounce2"></span>
    <span class="bounce3"></span>
</div>
<!-- end preloader area -->

<!-- start header area -->
<header class="header-area">
    <!-- start header top -->
    <div class="header-top">
        <div class="container">

            <div class="header-left">
                <ul class="contact-info-list">
                    <li><a href="tel:012345698721"><i class="bx bx-phone"></i>+123456789</a></li>
                    <li><a href="mailTo:hello@example.com"><i class="bx bx-envelope"></i>邮箱联系方式</a></li>
                </ul>
            </div><!-- end header-left -->

            <div class="header-right">

            </div><!-- end header-right -->

        </div>
    </div>
    <!-- end header top -->

    <!-- start main navbar area -->
    <div class="main-navbar-area sticky-header">

        <div class="mobile-navbar">
            <div class="container">
                <div class="mobile-navbar-inner">
                    <button class="mobile-menu-toggler" type="button">
                        <span></span><span></span><span></span>
                    </button>
                    <a href="index.html" class="logo">
                        <img src="../static/picture/logo1.png" alt="logo">
                    </a>
                    <div class="side-option">
                        <div class="item">
                            <a href="#searchBoxRes" class="btn-search" data-effect="mfp-zoom-in">
                                <i class='bx bx-search-alt'></i>
                            </a>
                            <div id="searchBoxRes" class="search-box mfp-with-anim mfp-hide">
                                <form class="search-form">
                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                    <button type="submit" class="btn-search">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/picture/logo1.png" alt="Logo">
                    </a>
                    <div class="mean-menu ml-auto">
                        <ul class="navbar-nav" id="menu">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link toggle">主页<i ></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link">登录</a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">关于</a>
                            </li>
                            <li class="nav-item">
                                <a href="pricing.html" class="nav-link">价格</a>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">联系我们</a>
                            </li>
                        </ul>
                    </div><!-- end mean-menu -->
                </nav><!-- end navbar -->
            </div><!-- container -->
        </div><!-- end main-nav -->
    </div><!-- end main navbar area -->
</header>
<!-- end header area -->

<!-- start page title area-->
<div class="page-title-area" style="background-image: url(../static/images/pricing.jpg);">
    <div class="container">
        <div class="content">
            <h1>价格</h1>
            <ul>
                <li class="item"><a href="index.html">首页</a></li>
                <li class="item active">价格</li>
            </ul>
        </div>
    </div>
</div>
<!-- end page title area -->

<!-- 开始价格显示区域 -->
<section id="pricing" class="pricing-area pt-100 pb-70 bg-primary">
    <div class="container">
        <div class="section-title">
            <h2 class="title">价格规划<span></span></h2>
            <p>根据公司现有网点，不同网点间的运输单价如下所示</p>
        </div>
        <div class="row justify-content-center no-gutters">
            <!--价格显示-->
            <div class="col-lg-4 col-sm-6">
                <div class="item-single item-unique mb-30">
                    <div class="content">
                        <h2 class="price">区间：单价</h2>
                        <span class="label">具体如下</span>
                    </div>
                    <ul class="item-list">
                        <li>成都——重庆：1元/kg </li>
                        <li>成都——北京：5元/kg</li>
                        <li>成都——上海：4元/kg</li>
                        <li>北京——上海：3元/kg</li>
                        <li>重庆——北京：4元/kg</li>
                        <li>重庆——上海：3元/kg</li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end pricing area -->



<!-- start footer area -->
<footer class="footer-area pt-50">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="../static/picture/logo2.png" alt="Logo" />
                            </a>
                        </div>
                        <p> 本公司立志为顾客提供用心的服务，如有任何问题或建议，欢迎您联系我们！</p>
                    </div><!-- end footer-widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12" style="text-align: center">
                    <div class="footer-widget">
                        <h3>快速导航</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="index.html">主页</a>
                            </li>
                            <li>
                                <a href="about.html">关于</a>
                            </li>
                            <li>
                                <a href="pricing.html">价格</a>
                            </li>

                        </ul>
                    </div><!-- end footer-widget -->
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12" style="text-align: center">
                    <div class="footer-widget">
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <ul class="footer-links">
                            <li>
                                <a href="index.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </li>
                            <li>
                                <a href="about.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </li>
                            <li>
                                <a href="pricing.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </li>

                        </ul>
                    </div><!-- end footer-widget -->
                </div>


                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>联系信息</h3>
                        <ul class="info-list">
                            <li>
                                <i class="bx bxs-phone"></i>
                                +123456789</a>
                                <br>
                                +987654321</a>
                            </li>
                            <li>
                                <i class="bx bxs-envelope"></i>
                                邮箱联系方式</a>
                                <br>
                            </li>
                            <li>
                                <i class='bx bxs-map' ></i>
                                四川 &nbsp;&nbsp;成都<br> 西航港街道
                            </li>
                        </ul>
                    </div><!-- end footer-widget -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->

</footer>
<!-- end footer area -->

<!-- start go to top area -->
<div class='go-top'><i class='bx bx-upvote'></i></div>
<!-- end go to top area -->

<!-- start mobile menu -->
<div class="mobile-menu-overlay"></div>
<div class="mobile-menu">
    <div class="mobile-menu-wrapper">
        <div class="top-content">
            <h5 class="title">菜单</h5>
            <span class="mobile-menu-close">x</span>
        </div>
    </div>
</div>
<!-- end mobile menu -->

<!-- jquery JS -->
<script src="../static/js/jquery.min.js"></script>
<!-- popper JS -->
<script src="../static/js/popper.min.js"></script>
<!-- bootstrap JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- waypoints JS -->
<script src="../static/js/jquery.waypoints.js"></script>
<!-- counter JS -->
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- magnific popup JS -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- mixitup JS -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- owl carousel JS -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- lazysizes JS -->
<script src="../static/js/lazysizes.min.js"></script>
<!-- form validator -->
<script src="../static/js/form-validator.min.js"></script>
<!-- contact form JS -->
<script src="../static/js/contact-form-script.js"></script>
<!-- ajax chimp JS -->
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<!-- script JS -->
<script src="../static/js/script.js"></script>
</body>
</html>